<div data-aos="fade-up" data-aos-anchor-placement="center-bottom">



    <div class="row row-col-1 row-cols-sm-2 row-cols-xl-4 row-cols-lg-4 row-cols-md-4 foot">
        <div class="col">
            <h4 class="footer">SITE MAP</h4>
            <ul>
                <li>About Carget</li>
                <li>FAQS</li>
                <li>Terms and Conditions</li>
                <li>Mission and Vission</li>
                <li>cooperate Policies</li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer">OTHERS</h4>
            <ul>
                <li>Scrap my car</li>
                <li>Swap My car</li>
                <li>Advertise withh us</li>
                <li>Advocacy and publicity </li>
                <li>customer care</li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer">CONTACT US</h4>
            <ul>
                <li>Scrap my car</li>
                <li>Swap my car</li>
                <li>Advertise with us</li>
                <li>Advocacy and customer care</li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer">SOCIAL CONNECT</h4>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>