<div class="position">
    <div class="row">
        <div class="col-sm-4  d-none d-md-block" style="margin-top: 20px;">
            <img src="../../assets/logo.jpg" width="30px" height="30px"/>
        </div>
        <div class="col-sm-4" style="margin-top: 30px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for your choice">
                <span class="input-group-btn">
                    <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
                </span>
            </div>
        </div>
        <div class="col-sm-2 d-none d-md-block" style="margin-top: 30px;">
        </div>
        <div class="col-sm-2 d-none d-md-block" style="margin-top: 30px;">
            <div class="elementor-botton-wrapper">
                <button class="elementor-botton border" role="botton" routerLink="/login">Login</button>
            </div>
            <div class="elementor-botton-wrapper">
                <button class="elementor-botton border" role="botton" routerLink="Register">Register</button>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <app-header></app-header>
    </div>
</div>

    <img src="../../assets/jos.jpg" class="img-fluid" alt="Responsive image" width="100%">
    <div class="container-fluid">  
    <h4
    style="color: #055E83;; margin-top: 30px; margin-bottom: 15px;">
    The most searched Cars
    </h4>
    <ul>
        <li><a href="#">Toyota Highlander</a></li>
        <li><a href="#">Range Rover</a></li>
        <li><a href="#">Lexus RX350</a></li>
        <li><a href="#">Volkswagen Golf</a></li>
        <li><a href="#">Toyota Camry</a></li>
    </ul>
    <div class="row row-col-1 row-cols-sm-2 row-cols-xl-4 row-cols-lg-4 row-cols-md-4">
        
       
        <div class="col">
            <div class="card">
                <div></div>
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>


    </div>



    <h4
    style="color: #055E83;; margin-top: 30px; margin-bottom: 15px;">
    Latest Cars
    </h4>
    <ul>
        <li><a href="#">Toyota Highlander</a></li>
        <li><a href="#">Range Rover</a></li>
        <li><a href="#">Lexus RX350</a></li>
        <li><a href="#">Volkswagen Golf</a></li>
        <li><a href="#">Toyota Camry</a></li>
    </ul>
    <div class="row row-col-1 row-cols-sm-2 row-cols-xl-4 row-cols-lg-4 row-cols-md-4">
        
       
        <div class="col">
            <div class="card">
                <div></div>
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>


    </div>
    <h4
    style="color: #055E83;; margin-top: 30px; margin-bottom: 15px;">
    Upcoming Cars
    </h4>
    <ul>
        <li><a href="#">Toyota Highlander</a></li>
        <li><a href="#">Range Rover</a></li>
        <li><a href="#">Lexus RX350</a></li>
        <li><a href="#">Volkswagen Golf</a></li>
        <li><a href="#">Toyota Camry</a></li>
    </ul>
    <div class="row row-col-1 row-cols-sm-2 row-cols-xl-4 row-cols-lg-4 row-cols-md-4">
        
       
        <div class="col">
            <div class="card">
                <div></div>
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>


    </div>
    <h4
    style="color: #055E83;; margin-top: 30px; margin-bottom: 15px;">
    Electric Cars
    </h4>
    <ul>
        <li><a href="#">Toyota Highlander</a></li>
        <li><a href="#">Range Rover</a></li>
        <li><a href="#">Lexus RX350</a></li>
        <li><a href="#">Volkswagen Golf</a></li>
        <li><a href="#">Toyota Camry</a></li>
    </ul>
    <div class="row row-col-1 row-cols-sm-2 row-cols-xl-4 row-cols-lg-4 row-cols-md-4">
        
       
        <div class="col">
            <div class="card">
                <div></div>
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>


    </div>
    <h4
    style="color: #055E83;; margin-top: 30px; margin-bottom: 15px;">
    The most use cars
    </h4>
    <ul>
        <li><a href="#">Toyota Highlander</a></li>
        <li><a href="#">Range Rover</a></li>
        <li><a href="#">Lexus RX350</a></li>
        <li><a href="#">Volkswagen Golf</a></li>
        <li><a href="#">Toyota Camry</a></li>
    </ul>
    <div class="row row-col-1 row-cols-sm-2 row-cols-xl-4 row-cols-lg-4 row-cols-md-4">
        
       
        <div class="col">
            <div class="card">
                <div></div>
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/car.jpg">
                <div class="card-body">
                    hhdhd
                </div>
            </div>
        </div>


    </div>
</div>
<div class="mt-2">
    <app-footer></app-footer>>
</div>